<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742196104477-fies0s6q3melknj3t136mv7a8thdk74e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742196104477-fies0s6q3melknj3t136mv7a8thdk74e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>742196104477-o5ami5rh7oot06jq9070u54a2q8fg0fj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYg1GLSlX11RBysqt9eOKz8_3OKm5wK5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>742196104477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yavuz.todo</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-b75af</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-b75af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742196104477:ios:97adc4a2e21d4594e9e5f4</string>
	<key>DATABASE_URL</key>
	<string>https://to-do-list-b75af-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>